@import "root.css";
@import "button.css";
@import "card.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--montserrat);
    background: var(--grey);
    color: var(--black);
}