@import "root.css";
@import "button.css";
@import "card.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--inter);
    background: var(--grey);
    color: var(--black);
}

.section {
    width: 100%;
}

.section .section__nav {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    letter-spacing: -0.12px;
}

.section .section__header {
    font-family: var(--montserrat);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%; /* 55.2px */
    letter-spacing: -1.44px; 
}

.section .section__header--decorator {
    font-family: var(--inter);
    font-style: italic;
}